<style>
   body{ background:#F1F1F1;}
</style>
<div id="menu">
     <!--Empieza el menú superior --> 
<div class="titulo" id="menu-su">
<div id="men">
<ul>
    <li><a  <%= link_to "", root_path %>><img class="ui top aligned tiny image" align="left" src="<%= asset_path 'mazda_logo.png' %>" width="100px" height="100px"></a></li>
<li><a title="Sedán" <%= link_to "Sedán", :controller => "bienvenido", :action => "sedan"%>></a></li>
<li><a title="Todoterrenos" <%= link_to "Todoterrenos", :controller => "bienvenido", :action => "todoterrenos"%>></a></li> 
<li><a title="Deportivos" <%= link_to "Deportivos", :controller => "bienvenido", :action => "deportivos"%>></a></li>
<li><a title="Futuros" <%= link_to "Futuros", :controller => "bienvenido", :action => "futuros"%>></a></li>
<li><a title="Visítanos" <%= link_to "Visítanos", :controller => "bienvenido", :action => "visitanos"%>></a></li>
<li><a title="Visítanos" <%= link_to "Cita", :controller => "cita", :action => "new"%>></a></li>
</ul></div></div>  
<!-- Acaba el menú superior -->
 <!-- Este es un comentario en HTML
    <div class="btnscentro">
    <ul>
        <li><a href="#" title="Decubre el Mazda3">Mazda3</a></li>
        <li><a href="#" title="Descubre el Mazda6">Mazda6</a></li>
    </ul>
        </div>
   */--> 
    </div>
<div id="caj" class="ui raised very padded text container segment">
    <h2 class="ui header">Cita agendada correctamente</h2>
    <h5 id="notice" class="ui header">Revisa tu correo electrónico</h5>
<!--<p id="notice"><%= notice %></p> -->

<p>
  <strong>Nombre:</strong>
  <%= @citum.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @citum.email %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @citum.fecha %>
</p>

<%= link_to 'Editar', edit_citum_path(@citum) %> |
<%= link_to 'Salir', root_path %>
</div>

<footer>
        <div class='define'>
           <ul>
<div class="ui horizontal bulleted list">
    <a class="item">Mazda Motor Corporation © 2016 </a>
  <a class="item" <%= link_to "Acerca", :controller => "bienvenido", :action => "acerca"%>></a>
  <a class="item"<%= link_to "Mapa del sitio", :controller => "bienvenido", :action => "mapa"%>></a>
  <a class="item" <%= link_to "Aviso de privacidad", :controller => "bienvenido", :action => "aviso"%>></a>
</div>
</ul>
        </div>
    </footer>